<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>3D tisk na FIT - {{ page.title }}</title>
    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/pygment_trac.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="javascripts/main.js"></script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
  </head>
  <body>

      <header>
        <h1><img src="images/logo.png" alt="Laboratoř 3D tisku na FIT ČVUT" /> 3D tisk na FIT ČVUT</h1>
        <p>{{ page.title }}</p>
      </header>

      <div id="banner">
        <span id="logo"></span>

        <ul>
          <li><a href="projekty" class="button">Projekty</a></li>
          <li><a href="lide" class="button">Lidé</a></li>
          <li><a href="galerie" class="button">Galerie</a></li>
          <li><a href="aplikace" class="button">Aplikace</a></li>
          <li><a href="vyuka" class="button">Výuka</a></li>
          <li><a href="kalendar" class="button">Kalendář</a></li>
          <li><a href="kontakt" class="button">Kontakt</a></li>
        </ul>
      </div><!-- end banner -->

    <div class="wrapper">
      <nav>
        <ul></ul>
      </nav>
      <section>
        {{ content }}
      </section>
      <footer>
        <p><small>&copy; 2013 &mdash; <a href="/">3DprintFIT</a>, <a href="http://creativecommons.org/licenses/by-sa/3.0/deed.cs">Creative Commons BY-SA</a><br />Hosted on GitHub Pages &mdash; Theme by <a href="http://twitter.com/#!/michigangraham">mattgraham</a></small></p>
      </footer>
    </div>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
    
  </body>
</html>
