<!doctype html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta http-equiv="expires" content="0">
    <title>3D tisk na FIT - {{ page.title }}</title>
    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/pygment_trac.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js" type="text/javascript"></script>
    <script src="javascripts/picasa.js" type="text/javascript"></script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
  </head>
  <body>

      <header>
        <h1><a href="/" title="Úvodní strana"><img src="images/logo.png" alt="Laboratoř 3D tisku na FIT ČVUT" /></a> 3D tisk na FIT ČVUT</h1>
        <p>{{ page.title }}</p>
      </header>

      <div id="banner">
        <span id="logo"></span>

        <ul>
          <li><a href="projekty" class="button">Projekty</a></li>
          <li><a href="lide" class="button">Lidé</a></li>
          <li><a href="galerie" class="button">Galerie</a></li>
          <li><a href="aplikace" class="button">Aplikace</a></li>
          <li><a href="vyuka" class="button">Výuka</a></li>
          <li><a href="kalendar" class="button">Kalendář</a></li>
          <li><a href="kontakt" class="button">Kontakt</a></li>
        </ul>
      </div><!-- end banner -->

      <div id="social">
        <a href="https://www.facebook.com/3DprintLab" class="button"><img src="images/social/facebook.png" alt="Facebook"/></a>
        <a href="https://twitter.com/3DprintFIT" class="button"><img src="images/social/twitter.png" alt="Twitter"/></a>
        <a href="https://www.youtube.com/user/3dprintfit" class="button"><img src="images/social/youtube.png" alt="YouTube"/></a>
      </div><!-- end social -->

    <div class="wrapper">
      <nav>
        <ul></ul>
      </nav>
      <section>
        {{ content }}
      </section>
      <footer>
        <p><small>Content &copy; <a href="/">3DprintFIT</a>. Social networks icons &copy; <a href="http://darkobra.deviantart.com/">DarKobra</a>. Layout &copy; <a href="http://twitter.com/michigangraham">mattgraham</a>.<br />
        <a href="http://creativecommons.org/licenses/by-sa/3.0/deed.cs">Creative Commons BY-SA</a>. Hosted on GitHub Pages.</small></p>
      </footer>
    </div>
  </body>
</html>
