
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Yuma Territorial Prison | dgraves.org</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="shortcut icon" href="/files/favicon.ico" type="image/x-icon" />
  <link type="text/css" rel="stylesheet" media="all" href="/modules/node/node.css?u" />
<link type="text/css" rel="stylesheet" media="all" href="/modules/system/defaults.css?u" />
<link type="text/css" rel="stylesheet" media="all" href="/modules/system/system.css?u" />
<link type="text/css" rel="stylesheet" media="all" href="/modules/system/system-menus.css?u" />
<link type="text/css" rel="stylesheet" media="all" href="/modules/user/user.css?u" />
<link type="text/css" rel="stylesheet" media="all" href="/sites/all/modules/mollom/mollom.css?u" />
<link type="text/css" rel="stylesheet" media="all" href="/sites/all/modules/extlink/extlink.css?u" />
<link type="text/css" rel="stylesheet" media="all" href="/files/color/pixture-118a1d23/style.css?u" />
  <script type="text/javascript" src="/misc/jquery.js?u"></script>
<script type="text/javascript" src="/misc/drupal.js?u"></script>
<script type="text/javascript" src="/sites/all/modules/mollom/mollom.js?u"></script>
<script type="text/javascript" src="/sites/all/modules/extlink/extlink.js?u"></script>
<script type="text/javascript">
<!--//--><![CDATA[//><!--
jQuery.extend(Drupal.settings, { "basePath": "/", "extlink": { "extTarget": "_blank", "extClass": "ext", "extSubdomains": 1, "extExclude": "", "extInclude": "", "extAlert": 0, "extAlertText": "This link will take you to an external web site. We are not responsible for their content.", "mailtoClass": "mailto" } });
//--><!]]>
</script>
    <!--[if lt IE 7]>
    <style type="text/css" media="all">@import "/sites/all/themes/pixture/fix-ie.css";</style>
    <![endif]-->
  <script type="text/javascript"></script>
</head>

<body>

<div id="wrapper" style="width: 95%;">

<div id="container">

<table border="0" cellpadding="0" cellspacing="0" id="header">
<tr>
    <td id="logo" valign=top rowspan=2>
        </td>
  <td id="site_name">
      <h1 class='site-name'><a href="/" title="Home">dgraves.org</a></h1>      <div class="site-slogan">Access to my stuff!</div>    </td>
    <td id="site_search">
      <form action="/photographs/yumaprison"  accept-charset="UTF-8" method="post" id="search-theme-form">
<div><div id="search" class="container-inline">
  <div class="form-item" id="edit-search-theme-form-1-wrapper">
 <label for="edit-search-theme-form-1">Search this site: </label>
 <input type="text" maxlength="128" name="search_theme_form" id="edit-search-theme-form-1" size="15" value="" title="Enter the terms you wish to search for." class="form-text" />
</div>
<input type="submit" name="op" id="edit-submit" value="Search"  class="form-submit" />
<input type="hidden" name="form_build_id" id="form-f6818a20dcd988c91fbacd389b36653e" value="form-f6818a20dcd988c91fbacd389b36653e"  />
<input type="hidden" name="form_id" id="edit-search-theme-form" value="search_theme_form"  />
</div>

</div></form>
  </td>
</tr>
<tr>
    <td id="menu" colspan=2>
            <ul class="links" id="navlist"><li class="menu-52 first"><a href="/" title="">Home</a></li>
<li class="menu-53"><a href="/coursework" title="">Coursework</a></li>
<li class="menu-387"><a href="/electronics" title="">Electronics</a></li>
<li class="menu-74"><a href="/software" title="">Software</a></li>
<li class="menu-477 last"><a href="/photographs" title="">Photographs</a></li>
</ul>    </td>
</tr>
<tr>
    <td colspan="3"><div></div></td>
</tr>
</table>


<table border="0" cellpadding="0" cellspacing="0" id="content">
  <tr>

    <td id="sidebar-left" class="sidebar">
    <table id="block-user-1" class="clear-block block block-user">
<tr>
  <td class="block-tl"></td>
  <td class="block-tc">
          <h2>Navigation</h2>
      </td>
  <td class="block-tr"></td>
</tr>
<tr>
  <td class="block-bl"></td>
  <td class="block-bc">
    <div class="content"><ul class="menu"><li class="leaf first"><a href="/">Home - dgraves.org</a></li>
<li class="leaf"><a href="/about" title="About Me">About Me</a></li>
<li class="leaf"><a href="/blog/dgraves" title="">Blog</a></li>
<li class="leaf last"><a href="/contact" title="Send me a message">Contact</a></li>
</ul></div>
  </td>
  <td class="block-br"></td>
</tr>
</table>
<table id="block-menu-menu-projects" class="clear-block block block-menu">
<tr>
  <td class="block-tl"></td>
  <td class="block-tc">
          <h2>Projects</h2>
      </td>
  <td class="block-tr"></td>
</tr>
<tr>
  <td class="block-bl"></td>
  <td class="block-bc">
    <div class="content"><ul class="menu"><li class="collapsed first"><a href="/coursework" title="University Projects">Coursework</a></li>
<li class="collapsed"><a href="/electronics" title="Electronics Projects">Electronics</a></li>
<li class="collapsed last"><a href="/software" title="Software Projects">Software</a></li>
</ul></div>
  </td>
  <td class="block-br"></td>
</tr>
</table>
<table id="block-menu-menu-multimedia" class="clear-block block block-menu">
<tr>
  <td class="block-tl"></td>
  <td class="block-tc">
          <h2>Media</h2>
      </td>
  <td class="block-tr"></td>
</tr>
<tr>
  <td class="block-bl"></td>
  <td class="block-bc">
    <div class="content"><ul class="menu"><li class="expanded first active-trail"><a href="/photographs" title="Photographs">Photographs</a><ul class="menu"><li class="leaf first"><a href="/photographs/adirondackcanoetrip" title="Adirondack Canoe Trip">Adirondack Canoe Trip</a></li>
<li class="collapsed"><a href="/photographs/canada" title="Canada Photographs">Canada</a></li>
<li class="leaf"><a href="/photographs/crosscountry" title="Cross Country">Cross Country</a></li>
<li class="collapsed"><a href="/photographs/hawaii" title="Hawai&#039;i Photographs">Hawai&#039;i</a></li>
<li class="leaf"><a href="/photographs/kwajalein" title="Kwajalein">Kwajalein</a></li>
<li class="collapsed"><a href="/photographs/newzealand" title="New Zealand Photographs">New Zealand</a></li>
<li class="leaf last active-trail"><a href="/photographs/yumaprison" title="Yuma Territorial Prison" class="active">Yuma Prison</a></li>
</ul></li>
<li class="leaf last"><a href="/tripmaps" title="GPS Tracks in Google Maps">Trip Maps</a></li>
</ul></div>
  </td>
  <td class="block-br"></td>
</tr>
</table>
  </td>
  
  <td valign="top">
      <div id="main">
    <div class="breadcrumb"><a href="/">Home</a> » <a href="/photographs" title="Photographs">Photographs</a></div>          <div id="cr8"></div>
        <div class="tabs"></div>
            <table class="node"> 
  
  <tr>
  <td class="node-tl"></td>
  <td class="node-tc"></td>
  <td class="node-tr"></td>
  <tr>

  <tr>
  <td class="node-ml"></td>
  <td class="node-mc">

    <table>
    <tr>
      <td>
        <h2 class="title"><a href="/photographs/yumaprison">Yuma Territorial Prison</a></h2>
        <span class="submitted"></span>
        <span class="taxonomy"><ul class="links inline"><li class="taxonomy_term_73 first"><a href="/category/media/photographs" rel="tag" title="Photo album.">Photographs</a></li>
<li class="taxonomy_term_75 last"><a href="/category/media/photographs/picasa-web-album" rel="tag" title="Photo album from Picasa Web Albums.">Picasa Web Album</a></li>
</ul></span>
      </td>
    </tr>
    </table>
        <div class="content"><style type="text/css">#picasaPhotos img {border: 1px solid #000; margin: 5px 5px 5px 5px;}</style><pre id="picasaSubtitle"></pre><div id="picasaPhotos"></div><script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js" type="text/javascript"></script><script src="javascripts/main.js" type="text/javascript"></script><link rel="stylesheet" href="stylesheets/styles.css" type="text/css" media="screen" /><script type="text/javascript">loadPicasaAlbum("dustingraves", "YumaTerritorialPrison");</script></div>
    
  </td>
  <td class="node-mr"></td>
  </tr>

  <tr>
  <td class="node-bl"></td>
  <td class="node-bc"></td>
  <td class="node-br"></td>
  <tr>
</table>
        </div>
  </td>

  
  </tr>
</table>

</div><!-- end of div#container -->

<div id="footer"><div align="center">
Copyright &copy; 2003-2011 Dustin Graves.  All Rights Reserved.  <br>
</div></div>

</div><!-- end of div#wrapper -->

</body>
</html>
